:root {
	--primary: #BB2528;
	--secondary: #;
}

*,
*:after,
*:before {
	box-sizing: border-box;
	color: inherit;
	font-family: 'Courier New', Courier, monospace;
	font-size: inherit;
	margin: 0;
	padding: 0;
}

html {
	background: white;
	background-image: url(./images/background.png);
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 25vw 25vw;
	color: white;
	height: 100%;
}

body {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
}